// ----------------------------------------------
// Dashboard1 Style
// ----------------------------------------------


.document-uploaded-label{
    border-radius: 10px;
    background-color: $primary;
    color: #fff;
    display: inline-flex;
    border: 0.5px solid $primary;
    align-items: center;
    position: relative;
    padding: 10px 20px;

    i{
        font-size: 20px;
        margin-left: 5px;
    }

}

.upload-document-label {
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #2A3547;
    padding: 10px 40px;
    border: 0.5px solid #A8ADBD;
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
    position: relative;

    &:before {
        content: "\eb47";
        font-family: 'tabler-icons';
        color: #fff;
        font-size: 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        right: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 40px;
        transition: all 0.2s linear 0s;
    }

    span {
        transition: transform 0.25s;
        margin-left: 1.5px;
    }

    &:hover {
        background-color: $primary;
        color: #fff;
        cursor:pointer;
        border-color: $primary;

        span {
            transform: translateX(-10px); // Adjust the text position
        }

        &:before {
            opacity: 1;
        }
    }
}


.profile-image-label {
    cursor:pointer;
}

.profile-picture {
    width: 120px;   // Adjust the size as needed
    height: 120px;  // Maintain aspect ratio
    border-radius: 50%;  // Make it perfectly round
    border: 10px solid silver;  // Add a silver border
    overflow: hidden;  // Ensure the image stays within the rounded container

    img {
      width: 100%;  // Make the image fill the container
      height: 100%;  // Make the image fill the container
      object-fit: cover;  // Fit the entire image within the container
    }
  }

  .platinum-package {
    display: inline-block; // Adjust width based on content
    position: relative;
    position: relative;
    background-color: #D1D6E0;
    padding: 5px 10px;
    border-radius: 0px 20px 20px 20px;

    .text {
      color: white;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
  }

  .text-hover:hover {
    color: #d3591e!important;
  }

  .t05{
    transition: 0.5s;
  }

.timeline-widget {
    .timeline-item {
        min-height: 70px;

        .timeline-time {
            padding: 6px 16px 6px 0;
            min-width: 90px;
        }

        .timeline-badge-wrap {
            .timeline-badge {
                width: 12px;
                height: 12px;
                border-radius: 50px;
                background-color: transparent;
            }

            .timeline-badge-border {
                width: 1px;
                height: 100%;
                background-color: $border-color;
            }
        }

        .timeline-desc {
            padding: 6px 16px;
        }

        .timeline-badge.badge-primary {
            border: 2px solid $primary;
        }
    }
}
#registerForm {
    label{
        color: #2A3547 !important;
    }
}

.text-dark{
    color:$gray-600 !important;
}
.form-control{
    box-shadow: none !important;
}

#preloader {
    position: fixed;
    z-index: 100;
    background: rgba(255, 255, 255, 0.56);
    width: 100%;
    height: 100%;
    display: flex;
    //   opacity: 0;
    justify-content: center;
    transition: all 0.5s;
    align-items: center;
    img {
        width: 100px;
        margin: 0 auto;
    }
}
