// ----------------------------------------------
// Dashboard1 Style
// ----------------------------------------------
body {
    background-color: #f9f9f9;
}


.applicationStatus{
    background-color: $danger;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    font-size: 10px;
}

#userFormBtn2 {
    display: flex;
    justify-content: end;
}

.btnEditClass {
    background-color: $primary;
    color: #fff;
    width: 85px;

}

.btnEditClass:hover {
    background-color: #da591b;
    color: #fff;
}


.to-remove {
    background-color: #ebf1f6 !important;

    label:first-line {
        text-decoration-line: line-through;
    }
}

$input-checkbox-size: 1.15em;
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin-right: 5px;
    font: inherit;
    color: currentColor;
    width: $input-checkbox-size;
    height: $input-checkbox-size;
    border: 0.15em solid currentColor;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        border-radius: 2px;
        box-shadow: inset 0.5em 0.5em 0.5em 0.5em rgba(248, 105, 35, 0.8); // Adjust shadow values
    }

    &:checked::before {
        transform: scale(1);
    }
}

.panel-field-settings {
    font-size: 20px;
    cursor: pointer;

    &:hover {
        color: $primary;
    }

}

.search-parent {
    margin-top: -20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-track {
    margin: 5px 0px;
}

.scrollbar::-webkit-scrollbar {
    border-radius: 0px 5px 5px 0px;
    background-color: #ebf1f6;
    padding: 10px;

}

.search-dropdown {
    left: 0;
    position: absolute;
    overflow: hidden;

    input {
        border: 0px;
        padding: 10px 20px;
    }


}


.primary-color {
    color: $primary;
}

.checkboxes {
    position: absolute;
    width: 150px;
    top: 50%; /* Position below the icon */
    left: 115%; /* Center the checkboxes horizontally */
    transform: translateX(-50%); /* Center adjustment */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    border-radius: 0px 5px 5px 5px;
}


.document-uploaded-label {
    border-radius: 10px;
    background-color: $primary;
    color: #fff;
    display: inline-flex;
    border: 0.5px solid $primary;
    align-items: center;
    position: relative;
    padding: 10px 20px;

    i {
        font-size: 20px;
        margin-left: 5px;
    }

}

.upload-document-label {
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #2A3547;
    padding: 10px 40px;
    border: 0.5px solid #A8ADBD;
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
    position: relative;

    &:before {
        content: "\eb47";
        font-family: 'tabler-icons';
        color: #fff;
        font-size: 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        right: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 40px;
        transition: all 0.2s linear 0s;
    }

    span {
        transition: transform 0.25s;
        margin-left: 1.5px;
    }

    &:hover {
        background-color: $primary;
        color: #fff;
        cursor: pointer;
        border-color: $primary;

        span {
            transform: translateX(-10px); // Adjust the text position
        }

        &:before {
            opacity: 1;
        }
    }
}


.profile-image-label {
    cursor: pointer;
}

#profile-image-input {
    visibility: hidden;
}

.profile-picture {
    width: 120px; // Adjust the size as needed
    height: 120px; // Maintain aspect ratio
    border-radius: 50%; // Make it perfectly round
    border: 10px solid silver; // Add a silver border
    overflow: hidden; // Ensure the image stays within the rounded container

    img {
        width: 100%; // Make the image fill the container
        height: 100%; // Make the image fill the container
        object-fit: cover; // Fit the entire image within the container
    }
}

.platinum-package {
    display: inline-block; // Adjust width based on content
    position: relative;
    position: relative;
    background-color: #D1D6E0;
    padding: 5px 10px;
    border-radius: 0px 20px 20px 20px;

    .text {
        color: white;
        letter-spacing: 0.5px;
        font-weight: 400;
    }
}

.text-hover:hover {
    color: #d3591e !important;
}

.t05 {
    transition: 0.5s;
}

.timeline-widget {
    .timeline-item {
        min-height: 70px;

        .timeline-time {
            padding: 6px 16px 6px 0;
            min-width: 90px;
        }

        .timeline-badge-wrap {
            .timeline-badge {
                width: 12px;
                height: 12px;
                border-radius: 50px;
                background-color: transparent;
            }

            .timeline-badge-border {
                width: 1px;
                height: 100%;
                background-color: $border-color;
            }
        }

        .timeline-desc {
            padding: 6px 16px;
        }

        .timeline-badge.badge-primary {
            border: 2px solid $primary;
        }
    }
}

#registerForm {
    label {
        color: #2A3547 !important;
    }
}

.text-dark {
    color: $gray-600 !important;
}

.form-control {
    box-shadow: none !important;
}

#preloader {
    position: fixed;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    //   opacity: 0;
    justify-content: center;
    transition: all 0.5s;
    align-items: center;

    img {
        width: 200px;
        margin: 0 auto;
    }
}

#search-dropdown {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1000;
}

.form-control, .form-select {
    background-color: #fff !important;
}

.add-category {
    cursor: pointer;
}

.toast-notification {
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.row-sortable > .sortable-item {
    cursor: grab;
    background-color: #fff;
}

.row-sortable > .sortable-item:active {
    cursor: grabbing;
}

//.row-sortable .ui-sortable-placeholder {
//    display: none;
//}

.field-name {
    cursor: grab;
}

.field-name:active {
    cursor: grabbing;
}

.icon-selection {
    height: 300px;
    overflow-y: scroll;
}

.icon-item {
    transition: all 0.2s;
}

.icon-item:hover {
    background-color: #FFAE1F !important;

    cursor: pointer;
}

.loader {
    width: 32px;
    height: 90px;
    display: block;
    margin: 20px auto;
    position: relative;
    border-radius: 50% 50% 0 0;
    border-bottom: 10px solid #FF3D00;
    background-color: #FFF;
    background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
    background-size: 28px 28px;
    background-position: center 20px, center 2px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: animloaderBack 1s linear infinite alternate;
}

.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0px 15px #FF3D00 inset;
    top: 67px;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 34px;
    height: 34px;
    top: 112%;
    background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50% 50% 0;
    background-repeat: no-repeat;
    background-position: -44px -44px;
    background-size: 100px 100px;
    box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {
    0%, 30%, 70% {
        transform: translateY(0px);
    }
    20%, 40%, 100% {
        transform: translateY(-5px);
    }
}

@keyframes animloader {
    0% {
        box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
        width: 34px;
        height: 34px;
        background-position: -44px -44px;
        background-size: 100px 100px;
    }
    100% {
        box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
        width: 30px;
        height: 28px;
        background-position: -36px -36px;
        background-size: 80px 80px;
    }
}

.rotate-30 {
    transform: rotate(30deg);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-4 14:52:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-4 14:57:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

.rotate-hor-center {
    -webkit-animation: rotate-hor-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: rotate-hor-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
