// ----------------------------------------------
// Background Style
// ----------------------------------------------

.radial-gradient {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0% / 400% 400%;
        animation: 15s ease 0s infinite normal none running gradient;
    }
}

.bg-gradient{
    background: rgb(229,100,70) !important;
    background: linear-gradient(90deg, rgba(229,100,70,1) 0%, rgba(235,171,88,1) 100%) !important;
}
