@media (max-width: 340px) {
    .checkboxes {
        left: 50%; /* Adjust the left position for smaller screens */
        border-radius: 5px 0 5px 5px;

    }
}

@media (max-width: 576px) {
    .checkboxes {
        left: 70%; /* Adjust the left position for smaller screens */
        border-radius: 5px 0 5px 5px;

    }

    .btnSaveClass, .btnCancelClass{
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px!important;

    }



    .profile-info {
        display: flex;
        align-items: center;
        flex-direction: column;

            :first-child{
                margin-bottom: 10px;
            }

    }

    .card-title{

        font-size: 16px;
    }

    #userFormBtn1{
        display: flex;
    }
    .btn{
        font-size: 10px;
    }

}


